
body{
    /* background-color: lightgray; */
}
header{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    background-color: gainsboro;
}
h1{
    /* border: 1px solid black; */
    text-align: center;
    width:25%;
    text-shadow: 4px 3px 5px grey;
}

nav{
    /* border: 1px solid black; */
    text-align: center;
    /* flex: 2; */
    width: 70%;
}
a{
    text-decoration: none;
    color: black;
    background-color: gray;
    padding: 10px;
    font-size: 20px;
    box-shadow: 5px 4px 5px;
}
a:hover{
    box-shadow: -5px -4px 5px;
    color: gainsboro;
}
a:focus{
    box-shadow: -5px -4px 5px;
    color: gainsboro;
}
li{
    display: inline-block;
    list-style-type: none;
    margin-top: 2px;
    margin-right: 10px;
}
iframe{
    margin-top: 5px;
    width: 100vw;
    height: 100vh;
}