body{
    background-color: rgb(232, 234, 236);
}
.container{
    display: grid;
    grid-template-columns:
    repeat(3,1.5fr) ;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
.inner{
    border: 1px solid black;
    width: fit-content;

}
h1{
    text-align: center;
    text-shadow: 4px 3px 5px grey;
}